<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
	
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>com.ocjeetest.servlets.Accueil</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Bonjour</servlet-name>
		<servlet-class>com.ocjeetest.servlets.Bonjour</servlet-class>
		<multipart-config>
			<location>/Users/dembadiop/Documents/fichier_temp/</location>
			<max-file-size>10485760</max-file-size>
			<max-request-size>52428800</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Bonjour</servlet-name>
		<url-pattern>/bonjour</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Session</servlet-name>
		<servlet-class>com.ocjeetest.servlets.Session</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Session</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Cookies</servlet-name>
		<servlet-class>com.ocjeetest.servlets.Cookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookies</servlet-name>
		<url-pattern>/cookies</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DB_Servlet</servlet-name>
		<servlet-class>com.ocjeetest.servlets.DB_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DB_Servlet</servlet-name>
		<url-pattern>/name</url-pattern>
	</servlet-mapping>	
	
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
</web-app>